{% extends 'base.html.twig' %}

{% block title %}Plan du site{% endblock %}

{% block body %}
    <main class="plan">
        <h1 class="plan__title">Plan du site</h1>
        <ul>
            {% for url in urls %}
                <p class="plan__content">
                    <a href="{{ hostname }}{{ url.loc }}" class="plan__link">
                        {{ hostname }}{{ url.loc }}
                    </a>
                </p>
            {% endfor %}
        </ul>
    </main>
{% endblock %}