@use 'src/styles/vars';

.spinner {
  width: 50px;
  height: 50px;
  margin: vars.$gutter * 2 auto;
  animation: rotateplane 2s ease-in-out infinite;
  background-color: vars.$primary-color;
}

@keyframes rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }