<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block metaTag %}
            <meta name="description" content="portfolio développeur web junior Frédéric CAFFIER">
        {% endblock %}
        {% block url %}
            <link rel="canonical" href="#" />
        {% endblock %}
        <title>{% block title %}Portfolio developpeur web junior frederic caffier{% endblock %}</title>
        <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
        <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Parisienne&family=Sacramento&display=swap" rel="stylesheet">
        {# <link rel="shortcut icon" href="{{ asset('images/FC2.svg') }}" type="image/x-icon"> #}
        <link rel="icon" href="{{ asset('images/logo/favicon.ico') }}" type="image/x-icon" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "./_partials/_nav.html.twig" %}
        {% block body %}{% endblock %}
        {% include "./_partials/_footer.html.twig" %}
    </body>
</html>
